<div class="pt-full-width pt-white">
    <nav class="navbar navbar-expand-lg pt-navbar-dark">
        <div class="col-md-7"></div>
        <div class="col-md-5"><p class="mt-2">
            <a href="/"><span class="pt-text-small mr-5">Home</span></a>
            <span class="pt-text-small mr-5">Explore</span>
            <span class="pt-text-small mr-5">About</span>
            <a href="/login"><span class="pt-text-small mr-5">Log In</span></a>
            <a href="/register"><span class="pt-text-small mr-5">Register</span></a>
        </p></div>
    </nav>
</div>


@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
