@using webapp.Data

<div class="pt-flex">
    <div class="col-md-3"><span class="pt-text-small pt-moraine-dark">Title</span></div>
    <div class="col-md-3"><span class="pt-text-small pt-moraine-dark">Author</span></div>
    <div class="col-md-3"><span class="pt-text-small pt-moraine-dark">Date</span></div>
    <div class="col-md-3"><span class="pt-text-small pt-moraine-dark">Time</span></div>
</div>
@foreach (var item in ListOfPodcasts)
{
    <div class="pt-flex">
        <div class="col-md-3"><span class="pt-text-mini pt-moraine-light">@item.Name</span></div>
        <div class="col-md-3"><span class="pt-text-mini pt-moraine-dark">@item.Author</span></div>
        <div class="col-md-3"><span class="pt-text-mini pt-moraine-dark">@item.UploadedOn.ToShortDateString()</span></div>
        <div class="col-md-3"><span class="pt-text-mini pt-moraine-dark">@item.Length</span></div>
    </div>
}

@code
{
    [Parameter]
    public List<Podcast> ListOfPodcasts { get; set; } = new List<Podcast>();
}