<div class="col-md-2 pt-dark-grey-bg">
    <div class="container pt-text-small pt-moraine-dark">
        <a href="/explore"><p>Home page</p></a>
        @if (loggedIn == true)
        {
            <a href="/me"><p>My profile</p></a>
            //<p>Playlists</p>
            <a href="/record"><p>Record podcast</p></a>
        }
    </div>
</div>

@code
{
    private bool loggedIn = false;

    protected override void OnInitialized()
    {
        //Mockup data
        loggedIn = true;
    }
}