.pt-navbar-dark {
    height: 51px;
    background-color: #34332E;
}

.pt-full-width {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.pt-text-large {
    height: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 70px;
}

.pt-text-medium {
    height: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 40px;
}

.pt-white {
    color: white;
}

.pt-fixed-box {
    width: 370px;
    height: 120px;
}

.pt-text-small {
    height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

.pt-bg {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
}

.pt-bg-main {
    background-image: url("../images/bg.png");
    width: 100%;
}

.pt-bg-register {
    background-image: url("../images/bg-register.png");
}

.pt-bg-register-2 {
    background-image: url("../images/bg-register-2.png");
}

.pt-bg-login {
    background-image: url("../images/bg-login.png");
}

.pt-bg-login-2 {
    background-image: url("../images/bg-login-2.png");
}

.pt-btn-primary {
    width: 180px;
    height: 60px;
    background-color: #173F49;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

.cta-homepage {
    position: absolute;
    top: 400px;
}

.pt-gray-page {
    background-color: #7D7D7B;
}

.pt-flex {
    display: flex;
    flex-wrap: wrap;
}

.pt-top-100 {
    margin-top: 100px;
}

a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    color: white;
}