@page "/edit-profile"
@using webapp.Data
@inject PodcastService podcastService
@inject ProfileService profileService

<div class="pt-flex">
    <SideMenu />
    <div class="col-md-8 pt-bg pt-bg-explore">
        <div class="pt-gradient">
            <div class="container">
                <p class="pt-text-large pt-moraine-light">Edit Profile</p>
                <p class="pt-text-medium pt-moraine-light">Information</p>
                <div class="pt-flex">
                    <div class="col-md-6">
                        <p><img src="images/@profile.ProfilePhoto" alt="..." class="rounded" height="200" width="200"></p>
                        <p class="pt-text-mini pt-moraine-dark">Change profile picture</p>
                        <p class="pt-text-small pt-moraine-light">@profile.Name</p>
                        <p class="pt-text-small pt-moraine-dark">@profile.Email</p>
                        <p class="pt-text-small pt-moraine-dark">Joined on: @profile.JoinedOn.ToShortDateString()</p>
                    </div>
                    <div class="col-md-4">
                        <form>
                            <div class="form-group text-right">
                                <textarea class="form-control" id="bio" rows="3" @bind="profile.Bio"></textarea>
                                <button type="submit" class="btn pt-btn-primary pt-white mt-5">Edit Bio</button>
                            </div>
                        </form>
                        <form>
                            <div class="form-group text-right">
                                <input type="password" class="form-control text-center mt-3" id="password" placeholder="Password">
                                <input type="password" class="form-control text-center mt-3" id="confirm" placeholder="Confirm Password">
                                <button type="submit" class="btn pt-btn-primary pt-white mt-5">Change Password</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
    <PlayMenu />
</div>

@code
{
    private webapp.Data.Profile profile = new webapp.Data.Profile();

    protected override async Task OnInitializedAsync()
    {
        profile = (await profileService.GetMyProfile());
        profile.Podcasts = (await podcastService.GetMyPodcasts()).ToList();
    }
}