@page "/explore"
@using webapp.Data
@inject PodcastService podcastService

<div class="pt-flex">
    <SideMenu />
    <div class="col-md-8 pt-bg pt-bg-explore">
        <div class="pt-gradient">
            <div class="container">
                <p class="pt-text-large pt-moraine-light">Explore</p>
                <p class="pt-text-medium pt-moraine-light">Popular Podcasts</p>
                <PodcastList ListOfPodcasts=popularPodcasts/>
            </div>
        </div>
    </div>
    <PlayMenu />
</div>

@code
{
    private List<Podcast> popularPodcasts = new List<Podcast>();

    protected override async Task OnInitializedAsync()
    {
        var podcasts = await podcastService.GetPodcasts();
        popularPodcasts = podcasts.ToList();
    }
}