@page "/"

<div class="pt-bg pt-bg-main">
    <div class="pt-full-width pt-white">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8"><p class="pt-text-large pt-text-box ml-5">Podcast ME</p></div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>

    <div class="pt-text-medium pt-text-box pt-white pt-fixed-box text-center cta-homepage ml-5">
        <p>Discover, Create and Share Podcasts</p>
        <a href="/register"><button type="button" class="btn pt-btn-primary pt-white">Get Started</button></a>
    </div>
</div>
