@page "/"


<div class="pt-bg">
    <div class="pt-text-medium pt-white pt-fixed-box text-center cta-homepage">
        <p>Discover, Create and Share Podcasts</p>
        <button type="button" class="btn pt-btn-primary pt-white">Get Started</button>
    </div>
</div>
