@page "/me"
@using webapp.Data
@inject PodcastService podcastService
@inject ProfileService profileService

<div class="pt-flex">
    <SideMenu />
    <div class="col-md-8 pt-bg pt-bg-explore">
        <div class="pt-gradient">
            <div class="container">
                <p><img src="images/@profile.ProfilePhoto" alt="..." class="rounded float-right" height="200" width="200"></p>
                <p class="pt-text-large pt-moraine-light">My Profile</p>
                <p class="pt-text-medium pt-moraine-light">Information <a href="/edit-profile"><span class="oi oi-pencil pt-text-small" title="edit" aria-hidden="true"></span></a></p>
                <div class="container">
                    <div class="pt-flex">
                        <div class="col-md-4"><span class="pt-text-small pt-moraine-light">@profile.Name</span></div>
                        <div class="col-md-4"><span class="pt-text-small pt-moraine-dark">@profile.Email</span></div>
                        <div class="col-md-4"><span class="pt-text-small pt-moraine-dark">Joined on: @profile.JoinedOn.ToShortDateString()</span></div>
                    </div>
                    <div class="pt-flex">
                        <div class="col-md-12"><p class="pt-text-mini pt-moraine-dark">@profile.Bio</p></div>
                    </div>
                </div>
                <p class="pt-text-medium pt-moraine-light">My Podcasts</p>
                <PodcastList ListOfPodcasts=profile.Podcasts/>
            </div>
        </div>
    </div>
    <PlayMenu />
</div>

@code
{
    private webapp.Data.Profile profile = new webapp.Data.Profile();

    protected override async Task OnInitializedAsync()
    {
        profile = (await profileService.GetMyProfile());
        profile.Podcasts = (await podcastService.GetMyPodcasts()).ToList();
    }
}