@page "/record"
@using webapp.Data
@inject PodcastService podcastService

<div class="pt-flex">
    <SideMenu />
    <div class="col-md-8 pt-bg pt-bg-explore">
        <div class="pt-gradient">
            <div class="container">

                <p class="pt-text-large pt-moraine-light">Record podcast</p>
                <div class="jumbotron pt-jumbotron pt-moraine-dark">
                    <div class="container">

                        <div class="pt-flex">
                            <div class="col-md-6">
                                <p class="pt-text-small">Podcast name <span class="oi oi-pencil pt-text-mini" title="edit" aria-hidden="true"></span></p>
                            </div>
                            <div class="col-md-6 text-right pt-text-mini">
                                <p>Recording length: @CurrentRecordingTime / @MaxRecordingTime (Status: @Status)</p>
                            </div>
                        </div>

                        <hr />

                        <div class="pt-flex">
                            <div class="col-md-6">
                                <div class="pt-text-mini">
                                    <span class="oi oi-media-skip-backward mr-3" title="backward 10 seconds" aria-hidden="true"></span>
                                    <span class="oi oi-media-skip-forward mr-3" title="forward 10 seconds" aria-hidden="true"></span>
                                    <span class="oi oi-crop mr-3" title="cut" aria-hidden="true"></span>
                                    <span class="oi oi-zoom-in mr-3" title="zoom in" aria-hidden="true"></span>
                                    <span class="oi oi-zoom-out mr-3" title="zoom out" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-right pt-text-mini">
                                    <span class="oi oi-media-play mr-3" title="play" aria-hidden="true"></span>
                                    <span class="oi oi-media-pause mr-3" title="pause" aria-hidden="true"></span>
                                    <span class="oi oi-media-record mr-3" title="record" aria-hidden="true"></span>
                                    <span class="oi oi-media-stop mr-3" title="stop recording" aria-hidden="true"></span>
                                    <span class="pt-text-mini">@CurrentPlayTime / @CurrentRecordingTime</span>
                                </div>
                            </div>
                        </div>

                        <div class="pt-flex mt-3">
                            <div class="col-md-6"></div>
                            <div class="col-md-6">
                                <button class="btn pt-btn-small pt-white mr-3">Discard</button>
                                <button class="btn pt-btn-small pt-white mr-3">Save</button>
                                <button class="btn pt-btn-small pt-white">Publish</button>
                            </div>
                        </div>
                    </div>
                </div>

                <p class="pt-text-medium pt-moraine-light">My Podcasts</p>
                <PodcastList ListOfPodcasts=profile.Podcasts/>
            </div>
        </div>
    </div>
    <PlayMenu />
</div>

@code
{
    private webapp.Data.Profile profile = new webapp.Data.Profile();
    private TimeSpan MaxRecordingTime = TimeSpan.FromHours(2);
    private TimeSpan CurrentRecordingTime = TimeSpan.Zero;
    private TimeSpan CurrentPlayTime = TimeSpan.Zero;
    private string Status = "Unpublished";

    protected override async Task OnInitializedAsync()
    {
        //Mockup data
        profile.Name = "Someone";
        profile.Email = "someone@example.com";
        profile.ProfilePhoto = "avatar.jpg";
        profile.Bio = "This is my sample bio.";
        profile.JoinedOn = DateTime.Now.AddDays(-100);

        profile.Podcasts = (await podcastService.GetMyPodcasts()).ToList();
    }
}