@page "/register"

<div class="pt-flex">
    <div class="col-md-6 pt-bg pt-bg-register-2">
        <div class="pt-flex pt-top-100">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
                <p class="pt-text-medium pt-text-box pt-white">Register</p>
                <form>
                <div class="form-group">
                    <input type="text" class="form-control text-center mt-3" id="name" placeholder="Your First and Last Name">
                    <input type="email" class="form-control text-center mt-3" id="email" placeholder="Your Email">
                    <input type="password" class="form-control text-center mt-3" id="password" placeholder="Password">
                    <input type="password" class="form-control text-center mt-3" id="confirm" placeholder="Confirm Password">
                    <button type="submit" class="btn pt-btn-primary pt-white mt-5">Get Started</button>
                </div>
                </form>
                    <span class="pt-white pt-text-small pt-text-box mt-5">Already have an account? <a href="/login">Log in</a></span>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div class="col-md-6 pt-bg pt-bg-register"></div>
</div>